/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2016, 5:41:01 PM
    Author     : armondluthens
*/
@media screen and (max-width: 650px) {
    
    .create-user-field p{
        width: 60%;
    }
    .create-user-field input{
        width: 100%;
        
    }
    .create-user h1{
        font-size: 32px;
    }
    .create-user-button{
        width: 100%;
        margin-left: 0%;
    }
}
